#Logo {
  /* background-image: url(https://s3.us-east-2.amazonaws.com/axes/axe.png); */
  height: 70px;
  /* width: 10vw; */
  background-size: 10vw 10vh;
}
#searchItem {
  padding: 10px
}

#searchResults {
  background: rgba(204, 204, 204, 1.0);
  position: absolute;
  width: 28.2vw;
  z-index: 100;
  text-align: left;
  border: 1px solid grey;
}

#searchBox {
  width: 50vw;
  height: 35px;
  margin: auto 50px;
  /* margin-left: 5vw;
  margin-top: 2vh; */
}
#searchField {
  display: flex;
}

#searchButton {
  display: flex;
  background-color: #a00000;
  width: 50px;
  color: white;
}

#searchContainer {
  display: flex;
  flex-direction: row;
  padding: 0;
}

#tabContainer {
  position: absolute;
  z-index: 100;
  background: rgba(204, 204, 204, 1.0);
  width: 11.5vw;
}

.NavBar {
  display: flex;
  flex-grow: 1;
}

body {
  margin: 0 !important;
}

.products {
  display: flex;
  position: absolute;
  background: rgba(204, 204, 204, 1.0);
  margin-left: 11.5vw;
  width: 11.5vw;
  flex-direction: column;
  text-align: center;
}
.navHover {
  display: flex;
  width: 50vw;
  height: 100%;
  float: left;
} 

.navHoverRight {
  display: flex;
  float: right;
} 

.contactInfo {
  font-family: sans-serif;
}

.contactInfoDiv {
  margin: 0 10vh;
}

/*
#NavBarParent {
  flex-grow: 1;
  width: 85vw;
  display: flex;  
  padding-left: 6.5vw;

}
*/