
#searchItem {
  padding: 10px
}

#searchResults {
  background: rgba(204, 204, 204, 1.0);
  position: absolute;
  width: 28.2vw;
  z-index: 100;
  border: 1px solid grey;
}

#searchBox {
  width: 33vw;
  height: 5vh;
  margin-left: 33vw;
}
#searchField {
  display: flex;
}

#searchButton {
  display: flex;
  background-color: #a00000;
  color: white;
}

#searchContainer {

  display: flex;
  flex-direction: row;
}

#tabContainer {
  position: absolute;
  z-index: 100;
  background: rgba(204, 204, 204, 1.0);
  width: 11.5vw;
}

.NavBar {
 display: flex;
 flex-grow: 1;
}

body {
  margin: 0 !important;
}

.products {
  display: flex;
  position: absolute;
  background: rgba(204, 204, 204, 1.0);
  margin-left: 11.5vw;
  width: 11.5vw;
  flex-direction: column;
  text-align: center;
}
.navHover {
  display: flex;
  width: 50vw;
  height: 100%;
  float: left;
} 

.navHoverRight {
  display: flex;
  float: right;
} 

.contactInfo {
  font-family: sans-serif;
  
}

.contactInfoDiv {
  margin: 0 10vh;
}
/*

#NavBarParent {
  flex-grow: 1;
  width: 85vw;
  display: flex;  
  padding-left: 6.5vw;

}


*/